<div class="main">
	<% @rounds.each do |round| %>
	<div class="round-info">
		<h4>第<%= round.no %>局</h4>
		<div class="his-panel">
			<div class="his his-l">
				<ul>
					<% round.ls.each do |round_detail| %>
					<li><span><%= round_detail.coins %> $<% if round.re == 'l' %> + <%= round_detail.coins %> $<% end %></span><%= round_detail.user.username %></li>
					<% end %>
				</ul>
			</div>
			<div class="his his-r">
				<ul>
					<% round.rs.each do |round_detail| %>
					<li><span><%= round_detail.coins %> $<% if round.re == 'r' %> + <%= round_detail.coins %> $<% end %></span><%= round_detail.user.username %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<% end %>
	<%= will_paginate @rounds, :class => "history-pagination" %>
</div>
<%= render :partial => "/partials/side" %>